:root {
  --c-brand: #8f022d;
  --c-brand-light: #c9194e;

  --c-border: #f3f4f5;
  --c-bg-navbar: var(--c-bg);

  --c-text: #1e1e1e;

  --font-family: 'Sora', sans-serif;
}

html.dark {
  --c-brand: #c0184a;
  --c-brand-light: #c0184a;

  --c-border: #2c3139;
}

.sidebar {
  border-right: none;
}

.navbar {
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}

.home .hero img {
  max-width: 400px;
}

h1 {
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
  font-size: 4em;
}

.site-name {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
